.plot-list {
    list-style: none;
    padding: 0;
}
ul li {
    display: block;
    margin-bottom: 5px;
}

.plot-size {
    margin-right: 10px;
}

.remove{
    opacity: 0.1;
}

.plot-area:hover > .remove{
    opacity: 1.0;
}

.plot-area:hover {
    cursor: pointer;
}

#export:hover > .remove{
    opacity: 1.0;
}

#export > textarea {
    background: whitesmoke;
}

footer {
    margin-top: 30px;
}